@charset "UTF-8";
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

body {
  background-color: var(--contrast-color);
  color: var(--main-color);
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-family: var(--main-font);
}

.section {
  padding-top: 11px;
  padding-bottom: 76px;
}

@media screen and (min-width: 320px) {
  .section {
    padding-top: 11px;
    padding-bottom: 76px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 35px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-top: 24px;
    padding-bottom: 100px;
  }
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 189px;
    padding-right: 189px;
  }
}

/* .section {
  width: 360px;
} */
.title-h2 {
  font-family: Cera Pro;
  font-style: normal;
  font-size: 24px;
  line-height: 1.25;
  color: #487996;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .title-h2 {
    font-size: 36px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .title-h2 {
    font-size: 48px;
  }
}

.img-print-text {
  display: contents;
  width: 248px;
  height: 23px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.27;
  text-align: center;
  color: #487996;
}

@media screen and (min-width: 1440px) {
  .img-print-text {
    font-size: 18px;
  }
}

.img-first {
  background-image: url(../images/print/desktop/pic-1.jpg);
  background-size: cover;
}

.list-print {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-top: -15px;
}

/* .desc-item::before {
  content: '';
  display: block;
  height: 120px;
  background-size: 70px 70px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
} */
.img-print {
  width: 133px;
  height: 158.54px;
  background: #ffffff;
  opacity: 0.8;
  box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;
  margin-left: 15px;
  margin-top: 15px;
  flex-basis: calc((100% - 30px) / 2);
}

@media screen and (min-width: 768px) {
  .img-print {
    width: 152.4px;
    height: 181.66px;
    flex-wrap: nowrap;
    flex-basis: calc((100% - 60px) / 4);
  }
}

@media screen and (min-width: 1440px) {
  .img-print {
    width: 250px;
    height: 298px;
  }
}

.item-print {
  display: block;
}

.item-print:not(:last-child) {
  margin-bottom: 52px;
}

.item-print-text {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2b;
  margin-bottom: 16px;
}

.item-print-text-current {
  width: 280px;
  height: 80px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #487996;
  text-transform: uppercase;
}

.item-print-text:first-of-type {
  margin-top: 16px;
}

.item-print-text:last-of-type {
  margin-bottom: 24px;
}

.btn-print {
  display: inline-block;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 700;
  /* font-size: 16px; має бути 16!!!! */
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #487996;
  padding: 16px 32px;
  background: #f5f5fa;
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1), 5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  border-radius: 30.5px;
}

.icon-print-style {
  border-radius: 50px 0px;
}

@media screen and (min-width: 768px) {
  .item-print {
    display: flex;
  }
  .icon-print {
    width: 100%;
    height: 100%;
    margin-right: 20px;
  }
  .btn-print {
    display: inline-flex;
    margin-top: 52px;
    margin-top: 0;
  }
  .item-print-text:first-of-type {
    margin-top: 0;
  }
  .print-text-wrapper {
    margin-top: 0;
  }
  .item-print-text:last-of-type {
    margin-bottom: 52px;
  }
}

@media screen and (min-width: 1440px) {
  .icon-print {
    margin-right: 78px;
  }
  .btn-print {
    display: inline-flex;
    margin-top: 52px;
    margin-top: 0;
  }
  .item-print-text:first-of-type {
    margin-top: 0;
  }
  .print-text-wrapper {
    margin-top: 0;
  }
  .item-print-text:last-of-type {
    margin-bottom: 52px;
  }
}
/*# sourceMappingURL=main.css.map */